html{
    margin: 0;
}

span {
    display: block;
}

.canvas {
    margin: 100px auto 100px;
    width: 90%;
    text-align: center;
}

.button {
    width: 100px;
    height: 100px;
    border: solid 2px ;
    display: inline-block;
}

#yellow {
    background: #FFFF00;     
}

#orange {
    background: #FF8C00;
}

#white {
    background: #FFFFFF;
}

#red {
    background: #FF0000;
}

#green {
    background: #00FF00;
}

#blue {
    background: #0000FF;
}