.presskey{
    background-color: #ffA00FFf;
    font-size: 3rem;
    font-family: cursive;
    color:antiquewhite;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table,th,td{
    border: 2px solid rgb(243, 11, 243);
}
table{
    text-align: center;
    background-color: rgb(4, 47, 84);
}

.codeofKey{
    color: rgb(231, 237, 242);
    display: flex;
    flex-direction: row;
}